<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> 로그인 페이지 입니다. </h1>

<form method="post" action="/member/login-processing">
    아이디 : <input type="text" name="memberid">
    비밀번호 : <input type="text" name="memberpassword">
    <input type="submit" value="로그인">
    <input type="reset" value="리셋">
</form>

<button onclick="location.href='/oauth2/authorization/naver'">네이버 로그인</button><br>
<button onclick="location.href='/oauth2/authorization/kakao'">카카오 로그인</button><br>


</body>
</html>